.contCrad
{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.divs
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.img
{
    width: 100%;
    height: 50%;
}
.continer
{

}
.box
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
 gap: 20px;
 width: 90%;
    
}
.all
{
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
}
.btnEdit
{
    width: 100px ;
    height: 30px;
    background-color: green;
    color: white;
}
.btnDelete
{
  width: 100px;
  height: 30px;
  background-color: red;
  color: white;
}
.userPrice
{
    font-size: 20px;
 
}
      

