*
{
    margin: 0;
}
.all
{
    height: 400px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
  
    align-items: center;
 

}
.item
{
    width: 30%;
    border: 3px solid black;
    /* padding: 30px 0px;, */
    height: 150px;
    display: flex;
      justify-content: center;
      align-items: center;
      transition-property: all;
      transition-duration: 3s;
      transition-timing-function: ease;
      
  
}


.item1
{
   flex-grow: 1;

}
.item2
{
    flex-grow: 1;


}
.item3
{
    flex-grow: 1;

}
.item:hover
{
    background-color: blue;
    flex-grow: 3;
    width: -50px;
    transition-property: all;
    transition-duration: 4s;
    transition-timing-function: ease;
    

}
