*
{
    margin: 0;
}
body 
{
  padding: 20px;
}
.all1
{


    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px ;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px;
 width: 560px;

  border: 1px solid firebrick;
    
}
.item1
{
    background-color: black;
}
.item2
{
    background-color: whitesmoke;
}





   