*{
    margin: 0;
}


.box {
    
    background-color: rgb(238, 239, 238);
    display: flex;
}
 
.c1{

 
}
.n1
{
    width: 200px;
    height: 200px;
}
.c2
{

}
.n2
{
    width: 200px;
    height: 200px;  
}
.c3
{
   
}
.n3
{
    width: 200px;
    height: 200px;  
}
.c4{
 

}
.n4
{
    width: 200px;
    height: 200px;
}

    







